<div class="main">
<div class="d-flex justify-content-center mt-5">
  <img alt="ss" src="../../../../assets/images/1.png">
</div>
<div class="h2 text-center my-5">Ответы на часто задаваемые вопросы</div>

<div id="accordion" class="lead w-75 mx-auto" >
  <h3 class="bg-primary text-white border-0 rounded  mt-4">Собираете ли вы подарочные боксы?</h3>
  <div class="h-auto border-0">
    <p class=" mb-0">
      Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
    </p>
  </div>
  <h3 class="bg-primary text-white border-0 rounded mt-4">Сколько у вас разновидностей чая?</h3>
  <div class="h-auto border-0">
    <p class=" mb-0">
      У нас более 10 разновидностей чая!
    </p>
  </div>
  <h3 class="bg-primary text-white border-0 rounded mt-4">В какой срок осуществляется доставка?</h3>
  <div class="h-auto border-0">
    <p class=" mb-0">
      Доставка осуществляется в течение дня.
    </p>

  </div>
  <h3 class="bg-primary text-white border-0 rounded mt-4 ">У вас обновляется ассортимент?</h3>
  <div class="h-auto border-0 ">
    <p class=" mb-0">
      Ассортимент обновляем сразу же после новых поступлений.
    </p>

  </div>
  <h3 class="bg-primary text-white border-0 rounded mt-4">Какого объема у вас пачки чая?</h3>
  <div class=" h-auto border-0 py-1">
    <p class=" mb-0">
      Пачки у нас 100, 250 и 500 грамм.
    </p>

  </div>
</div>
  <div class="popup" *ngIf="isShowPopup">
    <span> Посмотрите наши чайные коллекции</span>
    <button class="btn btn-primary " [routerLink]="'/catalog'">Смотреть</button>
    <button class="btn btn-close"></button>
  </div>
</div>




